<div class="hero-unit">
	<h1>Welcome Home!</h1>
	<p>
		This is the main <%= link_to "Page","http://www.google.com"%>.
	</p>
	<p>
		<%= link_to "Sign Up!", "#", class:"btn btn-primary btn-large"%>
	</p>
</div>
